
<head>
<%= javascript_include_tag "application", "imageshow" %>

<!-- Src: http://www.queness.com/resources/html/slideshow/jquery-slideshow.html -Kevin Liew -->
<!-- -------------------------------------------------------------------------------------------------- -->
<script type="text/javascript">
$(document).ready(function() {		
	slideShow(); //start
});
<!-- -------------------------------------------------------------------------------------------------- -->
function slideShow() {

	//Set the opacity of all images to 0
	$('#gallery a').css({opacity: 0.0});
	
	//Get the first image and display it (set it to full opacity)
	$('#gallery a:first').css({opacity: 1.0});
	
	//Set the caption background to semi-transparent
	$('#gallery .caption').css({opacity: 0.7});

	//Resize the width of the caption according to the image width
	$('#gallery .caption').css({width: $('#gallery a').find('img').css('width')});
	
	//Get the caption of the first image from REL attribute and display it
	$('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
	.animate({opacity: 0.7}, 400);
	
	//Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
	setInterval('gallery()',5000);
}
<!-- -------------------------------------------------------------------------------------------------- -->
function gallery() {
	
	//if no IMGs have the show class, grab the first image
	var current = ($('#gallery a.show')?  $('#gallery a.show') : $('#gallery a:first'));

	//Get next image, if it reached the end of the slideshow, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('caption'))? $('#gallery a:first') :current.next()) : $('#gallery a:first'));	
	
	//Get next image caption
	var caption = next.find('img').attr('rel');	
	
	//Set the fade in effect for the next image, show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
	
	//Set the opacity to 0 and height to 1px
	$('#gallery .caption').animate({opacity: 0.0}, { queue:false, duration:0 }).animate({height: '1px'}, { queue:true, duration:300 });	
	
	//Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
	$('#gallery .caption').animate({opacity: 0.7},100 ).animate({height: '100px'},500 );
	
	//Display the content
	$('#gallery .content').html(caption);
}
</script>

<!-- -------------------------------------------------------------------------------------------------- -->


<style type="text/css">
body{
	font-family:arial
}

.clear {
	clear:both
}

#gallery {
	position:relative;
	height:540px;
	margin:-35px;
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500;
	}

	#gallery .caption {
		height:100px; 
		width:50%; 
		position:absolute;
		bottom:0;
		z-index:600; 
		background-color:#000000; 
		color:#ffffff; 
	}

	#gallery .caption .content {
		margin:10px;
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}
	
	.center{ margin: auto; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
	

</style>
</head>
<body>
	 
	 
	 
<div id="gallery" class="center">

	<a href="/users/register" class="show">
		<img src="/assets/myback1.png" alt="Register now" title="" rel="<h3>Register now</h3>Team Manager enables you to manage your team and time more effectively"/>
	</a>
	
	<a href="#">
		<img src="/assets/pattern.png" alt="Grass Blades" width="600" height="90" title="" alt="" rel="<h3>Grass Blades</h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "/>
	</a>
	
	<a href="#">
		<img src="/assets/myback1.png" alt="Ladybug"  title="" alt="" rel="<h3>Ladybug</h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."/>
	</a>

	<a href="#">
		<img src="/assets/pattern.png" alt="Lightning" width="600" height="90" title="" alt="" rel="<h3>Lightning</h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."/>
	</a>
	<div class="caption"><div class="content"></div></div>
</div>







<div class="clear"></div>

<br/><br/>
<div style="font-size:10px;color:#ccc">Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 3.0 License.</div>

</body>
