<h3>Player assists</h3>


			<table class="table table-striped">
				<tr>
	    <th>Name</th>
	    <th>Surname</th>
	     <th>Assists</th>
			</tr>
			<% @assister.each do |player| %>
			  <tr>
			    <td><%= player.name %></td>
			    <td><%= player.surname %></td>
			    <td><%= player.assists %></td>
			  </tr>
			<% end %>
			</table>