<h3>Manager Stats</h3>

<table class="table table-striped">

<!--For data table begin-->
	<tbody>
	</br>

    
    <tr><td><b><u>Goals and assists</u></b></td></tr>
    <tr><td>&nbsp;&nbsp;Team goals: <%= @goals %></td></tr>
    <tr><td>&nbsp;&nbsp;Team assists: <%= @assists %></td></tr>
    <tr><td></br></td></tr> 
    
    <tr><td><b><u>Foul play</u></b></td></tr>
    <tr><td>&nbsp;&nbsp;Team yellow cards: <%= @yellow %></td></tr>
    <tr><td>&nbsp;&nbsp;Team red cards: <%= @red %></td></tr>

	</tbody>
	
</table>